<div class="about-me-container">
    <div class="about-me-content">
      <h2 class="about-me-heading">About Me</h2>
      <p class="about-me-paragraph">Hi, my name is Lalit and I'm a software engineer with a wanderlust soul. 
        Combining my technical expertise with my love for travel, 
        I embark on a journey of innovation. From coding to exploring new horizons,
         I thrive on the excitement of discovering diverse cultures and landscapes. 
         Through my work, I aim to bridge the gap between technology and wanderlust, 
         creating solutions that simplify and enhance the travel experience. 
         Join me on this path where software engineering and adventure converge."</p>
         <p class="resume-link"><a href="assets\img\Lalit_CV_Ca.pdf" target="_blank">Download PDF version of my Resume</a></p>
    </div>
    <div class="profile-image-container">
      <img class="profile-image" src="assets\img\photo.jpg" alt="Profile Image">
    </div>
  </div>
  