<div class="projects-container">
    <table class="projects-table">
      <tr>
        <th>Project</th>
        <th>Description</th>
        <th>Role</th>
        <th>Outcome</th>
      </tr>
      <tr>
        <td><img src="assets\img\e-commerce.png" alt="Project 1"></td>
        <td>Develop an e-commerce website where users can browse and purchase products online. Implement features such as product catalog, user authentication, shopping cart, payment integration, and order management.</td>
        <td>Full Stack Developer</td>
        <td>A fully functional e-commerce website that allows users to shop for products, make secure payments, and manage their orders. The outcome could include increased online sales, improved customer satisfaction, and streamlined business operations.</td>
      </tr>
      <tr>
        <td><img src="assets\img\mobile app.jpg" alt="Project 2"></td>
        <td>Create a mobile app that enables users to manage their tasks, set reminders, and track progress. Include features like task creation, due date notifications, priority levels, task categorization, and collaboration capabilities.</td>
        <td>Mobile App Developer</td>
        <td> A user-friendly mobile app that helps individuals and teams stay organized, increase productivity, and meet deadlines. The outcome could include improved task management, enhanced efficiency, and better teamwork.</td>
      </tr>
      <tr>
        <td><img src="assets\img\dataanalytics.png" alt="Project 3"></td>
        <td> Build a data analytics dashboard that visualizes and analyzes key metrics and data trends for a specific domain, such as sales, marketing, or customer engagement. Integrate data from various sources, apply data visualization techniques, and provide interactive functionalities.</td>
        <td> Data Engineer / Front-end Developer</td>
        <td>A robust data analytics dashboard that allows users to gain insights, make data-driven decisions, and monitor performance. The outcome could include improved business intelligence, optimized processes, and enhanced decision-making capabilities.</td>
      </tr>
    </table>
  </div>
  