<div class="services-container">
    <table class="services-table">
      <tr>
        <th>Service</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>
          <img src="assets\img\programming.webp" alt="Programming">
          <h3 class="service-title">Programming</h3>
        </td>
        <td>
          <p class="service-description">As a software developer, I offer general programming services to develop custom software solutions based on client requirements. This includes coding, testing, and debugging applications using various programming languages such as Java, Python, C++, or JavaScript. I can work on both frontend and backend development, ensuring efficient and high-quality code.</p>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets\img\web dev.jpg" alt="Web Development">
          <h3 class="service-title">Web Development</h3>
        </td>
        <td>
          <p class="service-description">I specialize in web development, creating responsive and interactive websites. Using HTML, CSS, and JavaScript, I develop visually appealing and user-friendly websites that are optimized for different devices and browsers. I focus on creating intuitive user interfaces, incorporating essential features such as forms, databases, and secure authentication.</p>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets\img\mobileapp.jpg" alt="Mobile Apps">
          <h3 class="service-title">Mobile Apps</h3>
        </td>
        <td>
          <p class="service-description">I offer mobile app development services for iOS and Android platforms. Utilizing native or cross-platform frameworks like Swift, Kotlin, or React Native, I create mobile applications that are user-friendly, performant, and feature-rich. From concept to deployment, I handle the entire development lifecycle, including UI/UX design, integration of APIs, and rigorous testing.</p>
        </td>
      </tr>
    </table>
  </div>
  